<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diary.file.mapper.ImageMapper">

    <resultMap id="ImageResultMap" type="diary.common.entity.image.po.ImagePO">
        <id property="id" column="id"/>
        <id property="userId" column="user_id"/>
        <id property="fileSize" column="file_size"/>
        <id property="objectKey" column="object_key"/>
        <id property="originalName" column="original_name"/>
        <id property="mimeType" column="mime_type"/>
        <id property="type" column="type"/>
        <id property="deleted" column="deleted"/>
        <id property="status" column="status"/>
        <id property="createTime" column="create_time"/>
        <id property="updateTime" column="update_time"/>
    </resultMap>
    <select id="selectImageById" resultMap="ImageResultMap">
        SELECT id, object_key FROM image WHERE id = #{id}
        and deleted = 0 and status = 1000
    </select>

    <select id="selectImagesForUploadByIds" resultMap="ImageResultMap">
        SELECT id, object_key FROM image WHERE id IN
        <foreach item="id" collection="imageIds" separator="," open="(" close=")">
            #{id}
        </foreach>
        and deleted = 0
    </select>

    <update id="updateImageStatusById">
        update image set object_key = #{objectKey}, status = #{status} where id = #{id}
    </update>

    <select id="selectImageByTypeAndName" resultType="java.lang.Integer">
        select 1 from image where type = #{type} and original_name = #{originalFilename}
    </select>

    <insert id="batchAddImageToDb" parameterType="list">
        INSERT INTO image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imageList[0].id != null">id,</if>
            <if test="imageList[0].userId != null">user_id,</if>
            <if test="imageList[0].fileSize != null">file_size,</if>
            <if test="imageList[0].objectKey != null">object_key,</if>
            <if test="imageList[0].originalName != null">original_name,</if>
            <if test="imageList[0].mimeType != null">mime_type,</if>
            <if test="imageList[0].type != null">type,</if>
            <if test="imageList[0].deleted != null">deleted,</if>
            <if test="imageList[0].status != null">status,</if>
            <if test="imageList[0].createTime != null">create_time,</if>
            <if test="imageList[0].updateTime != null">update_time,</if>
        </trim>
        VALUES
        <foreach collection="imageList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">#{item.id},</if>
                <if test="item.userId != null">#{item.userId},</if>
                <if test="item.fileSize != null">#{item.fileSize},</if>
                <if test="item.objectKey != null">#{item.objectKey},</if>
                <if test="item.originalName != null">#{item.originalName},</if>
                <if test="item.mimeType != null">#{item.mimeType},</if>
                <if test="item.type != null">#{item.type},</if>
                <if test="item.deleted != null">#{item.deleted},</if>
                <if test="item.status != null">#{item.status},</if>
                <if test="item.createTime != null">#{item.createTime},</if>
                <if test="item.updateTime != null">#{item.updateTime},</if>
            </trim>
        </foreach>
    </insert>

    <select id="selectLatestTwoImagesForCarousel" resultMap="ImageResultMap">
        WITH ranked_images AS (
            SELECT
                i.id, i.user_id, i.original_name, i.type, c.category_id,
                ROW_NUMBER() OVER (
            PARTITION BY c.category_id
            ORDER BY i.create_time DESC, i.id DESC
        ) AS rn
            FROM image i INNER JOIN time_card c ON i.id = c.image_id
        )
        SELECT
            ri.id
        FROM ranked_images ri
                 INNER JOIN time_category cat ON ri.category_id = cat.id
        WHERE ri.rn in (1, 2)
    </select>

    <delete id="deleteImageById">
        DELETE FROM image WHERE id = #{id}
    </delete>
</mapper>
