<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.executor.mapper.ImageCleanupMapper">

    <resultMap id="ImageCleanupResultMap" type="diary.common.entity.xxlJob.ImageCleanupRecord">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="objectKey" column="object_key" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUnreferencedImages" resultMap="ImageCleanupResultMap">
        SELECT i.id, i.object_key
        FROM image i
        WHERE i.mime_type LIKE 'image/%'
          AND i.create_time &lt; TIMESTAMPADD(HOUR, -#{retentionHours}, CURRENT_TIMESTAMP)
          AND NOT EXISTS (
            SELECT 1 FROM time_card tc WHERE tc.image_id = i.id
          )
          AND NOT EXISTS (
            SELECT 1 FROM recipe r WHERE r.image_id = i.id
          )
          AND NOT EXISTS (
            SELECT 1 FROM love_record_image lri WHERE lri.image_id = i.id
          )
        ORDER BY i.create_time, i.id
        LIMIT #{batchSize}
    </select>

    <select id="selectImagesByObjectKeys" resultMap="ImageCleanupResultMap">
        SELECT id, object_key
        FROM image
        WHERE object_key IN
        <foreach collection="objectKeys" item="objectKey" open="(" separator="," close=")">
            #{objectKey}
        </foreach>
    </select>

    <delete id="deleteImageByIdIfUnreferenced">
        DELETE FROM image
        WHERE id = #{id}
          AND mime_type LIKE 'image/%'
          AND create_time &lt; TIMESTAMPADD(HOUR, -#{retentionHours}, CURRENT_TIMESTAMP)
          AND NOT EXISTS (
            SELECT 1 FROM time_card tc WHERE tc.image_id = image.id
          )
          AND NOT EXISTS (
            SELECT 1 FROM recipe r WHERE r.image_id = image.id
          )
          AND NOT EXISTS (
            SELECT 1 FROM love_record_image lri WHERE lri.image_id = image.id
          )
    </delete>
</mapper>
