<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diary.recipe.mapper.RecipeIngredientMapper">

    <resultMap id="BaseResultMap" type="diary.common.entity.recipe.po.RecipeIngredientPO">
        <id column="id" property="id"/>
        <result column="recipe_id" property="recipeId"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="quantity" property="quantity"/>
        <result column="is_main" property="isMain"/>
        <result column="sort" property="sort"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumns">
        id, recipe_id, user_id, name, quantity, is_main, sort, deleted, create_time, update_time
    </sql>

    <insert id="batchInsert">
        INSERT INTO recipe_ingredient (
            id, recipe_id, user_id, name, quantity, is_main, sort, deleted, create_time, update_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.recipeId}, #{item.userId}, #{item.name}, #{item.quantity}, #{item.isMain},
             #{item.sort}, #{item.deleted}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>

    <select id="selectByRecipeId" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM recipe_ingredient
        WHERE recipe_id = #{recipeId}
          AND deleted = 0
        ORDER BY sort ASC, id ASC
    </select>

    <select id="selectByRecipeIds" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM recipe_ingredient
        WHERE deleted = 0
          AND recipe_id IN
        <foreach collection="recipeIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY recipe_id ASC, sort ASC, id ASC
    </select>

    <update id="deleteByRecipeId">
        UPDATE recipe_ingredient
        SET deleted = 1,
            update_time = NOW()
        WHERE recipe_id = #{recipeId}
          AND deleted = 0
    </update>

    <update id="deleteByIds">
        UPDATE recipe_ingredient
        SET deleted = 1,
            update_time = NOW()
        WHERE deleted = 0
          AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdate">
        <foreach collection="list" item="item" separator=";">
            UPDATE recipe_ingredient
            <set>
                <if test="item.name != null and item.name != ''">name = #{item.name},</if>
                <if test="item.quantity != null and item.quantity != ''">quantity = #{item.quantity},</if>
                <if test="item.isMain != null">is_main = #{item.isMain},</if>
                <if test="item.sort != null">sort = #{item.sort},</if>
                update_time = NOW()
            </set>
            WHERE id = #{item.id}
              AND deleted = 0
        </foreach>
    </update>
</mapper>
