<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diary.diaryai.mapper.DiaryAIMapper">
    <resultMap id="AiInfoResultMap" type="diary.common.entity.ai.po.AiInfoPO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="temperature" property="temperature" jdbcType="VARCHAR"/>
        <result column="ai_type" property="aiType" jdbcType="TINYINT"/>
        <result column="ai_application" property="aiApplication" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="AiNutrientResultMap" type="diary.common.entity.ai.po.AiNutrientPO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="universal_id" property="universalId" jdbcType="BIGINT"/>
        <result column="ai_info_id" property="aiInfoId" jdbcType="BIGINT"/>
        <result column="calory" property="calory" jdbcType="VARCHAR"/>
        <result column="protein" property="protein" jdbcType="VARCHAR"/>
        <result column="fat" property="fat" jdbcType="VARCHAR"/>
        <result column="carbohydrate" property="carbohydrate" jdbcType="VARCHAR"/>
        <result column="sugar" property="sugar" jdbcType="VARCHAR"/>
        <result column="sodium" property="sodium" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insertAiNutrient">
        INSERT INTO ai_nutrient (id, user_id, universal_id, flag, ai_info_id, calory, protein, fat, carbohydrate, sugar, sodium)
        VALUES (#{id}, #{userId}, #{universalId}, #{flag}, #{aiInfoId}, #{calory}, #{protein}, #{fat}, #{carbohydrate}, #{sugar}, #{sodium})
    </insert>

    <insert id="insertAiInfo">
        insert into ai_info(id, user_id, model, temperature, ai_type, ai_application)
        values (#{id}, #{userId}, #{model}, #{temperature}, #{aiType}, #{aiApplication})
    </insert>

    <update id="updateAiTaskStatus">

    </update>

    <insert id="insertAiTask">

    </insert>

    <select id="selectAiTaskByTaskId" resultType="diary.common.entity.ai.po.AiTaskPO">

    </select>
</mapper>
