<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diary.diarytimemachine.mapper.TimeMachineMapper">
    <resultMap id="TimeMachineCategoryResultMap" type="diary.common.entity.timemachine.po.TimeCategoryPO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryNum" column="category_num"/>
        <result property="sort" column="sort"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="TimeMachineCardResultMap" type="diary.common.entity.timemachine.po.TimeCardPO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="imageId" column="image_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="cardTitle" column="card_title"/>
        <result property="cardContent" column="card_content"/>
        <result property="recordTime" column="record_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="TimeCardVOResultMap" type="diary.common.entity.timemachine.vo.TimeCardVO">
        <id property="id" column="id"/>
        <result property="cardContent" column="card_content"/>
        <result property="recordTime" column="record_time"/>
        <result property="cardTitle" column="card_title"/>
        <result property="categoryId" column="category_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="userId" column="user_id"/>
        <result property="imageId" column="image_id"/>
    </resultMap>

    <resultMap id="CategoryIconResultMap" type="diary.common.entity.timemachine.dto.TimeCategoryIconDTO">
        <id property="categoryId" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="iconId" column="icon_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryNum" column="category_num"/>
        <result property="sort" column="sort"/>
        <result property="deleted" column="deleted"/>
        <result property="categoryCreateTime" column="create_time"/>
        <result property="categoryUpdateTime" column="update_time"/>
        <result property="iconName" column="icon_name"/>
        <result property="iconType" column="icon_type"/>
        <result property="iconPath" column="icon_path"/>
        <result property="iconSize" column="icon_size"/>
        <result property="iconPixel" column="icon_pixel"/>
    </resultMap>

    <insert id="categoryAdd" parameterType="diary.common.entity.timemachine.po.TimeCategoryPO">
        insert into time_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="iconId != null">icon_id,</if>
            <if test="categoryName != null">category_name,</if>
            <if test="categoryNum != null">category_num,</if>
            <if test="sort != null">sort,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="iconId != null">#{iconId},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="categoryNum != null">#{categoryNum},</if>
            <if test="sort != null">#{sort},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="cardAdd" parameterType="diary.common.entity.timemachine.po.TimeCardPO">
        insert into time_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="imageId != null">image_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="cardTitle != null">card_title,</if>
            <if test="cardContent != null">card_content,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="imageId != null">#{imageId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="cardTitle != null">#{cardTitle},</if>
            <if test="cardContent != null">#{cardContent},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <select id="selectLastCategoryNum" resultMap="TimeMachineCategoryResultMap">
        select category_num from time_category order by category_num desc limit 1;
    </select>

    <select id="selectSameCategory" resultType="java.lang.Integer">
        select count(*) from time_category where category_name = #{categoryName};
    </select>

    <select id="selectLastCategorySort" resultMap="TimeMachineCategoryResultMap">
        select sort from time_category order by sort desc limit 1;
    </select>

    <select id="selectSameCard" resultType="java.lang.Integer">
        select count(*) from time_card where category_id = #{categoryId} and card_title = #{cardTitle};
    </select>

    <select id="selectCardPage" resultMap="TimeCardVOResultMap">
        select a.id, a.user_id, a.image_id, a.category_id, a.card_title, a.card_content, a.record_time, a.create_time, a.update_time
        from time_card a where 1=1
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        order by create_time desc
    </select>

    <update id="deleteCard">
        delete from time_card where id = #{id};
    </update>

    <update id="updateCard">
        update time_card
        <set>
            <if test="cardTitle != null">card_title = #{cardTitle},</if>
            <if test="cardContent != null">card_content = #{cardContent},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id};
    </update>

    <delete id="logicallyDeleteCategory">
        update time_category set deleted = 1 where id = #{id};
    </delete>

    <select id="selectCategory" resultMap="CategoryIconResultMap">
        select
            aa.id, aa.user_id, aa.icon_id, aa.category_name, aa.category_num, aa.sort, aa.deleted,
            aa.create_time, aa.update_time, bb.icon_name, bb.icon_type, bb.icon_path, bb.icon_size, bb.icon_pixel
        from time_category aa inner join icon bb on aa.icon_id = bb.id
        where aa.deleted = 0
    </select>
</mapper>